/* ====== GERAL ====== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu';

}

:root {

    --primary-black: hsl(207, 21%, 10%);
    --primary-grey: rgb(209, 207, 207);
    --hover-color: hsl(211, 72%, 57%);
    --luminous-white: hsl(0, 0%, 100%);
    
    font-size: 62.5%; /* 1rem = 10px */

    --nav-height: 5rem;
}

html,
body{
    height: 100%;
    width: 100%;
}

body{
    font-size: 1.6rem;
    text-align: center;
}

.wrapper{
    width: min(80rem, 100%);
    margin-inline: auto;
    padding-inline: 1.7rem;
}

img{
    max-width: 100%;
}

section h2,
section p{
    color: var(--luminous-white);
    font-size: 1.6rem;
}

a{
    text-decoration: none;
    text-transform: uppercase;
}

/* ====== NAVIGATION ====== */
nav{
    display: flex;
    height: var(--nav-height);
    top: 0%;
    width: 100vw;

    background-color: var(--primary-black);
}

nav .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav button{
    background: none;
    border: none;
    cursor: pointer;

    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--luminous-white);
}

nav .menu,
nav.close-menu{
    position: fixed;
}

nav .logo img{
    width: 9rem;
}

nav .profile img{
    width: 4.9rem;
}

/* ====== MENU-EXPANDED ====== */

body.menu-expanded{
    overflow: hidden;
}

body.menu-expanded > :not(nav){
    visibility: visible;
}

.menu,
.close-menu,
body.menu-expanded .open-menu{
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded .close-menu{
    opacity: 1;
    visibility: visible;
}

.menu{
    transform: translateX(-100%)
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background: var(--primary-black);
  
    width: 65vw;
    height: 100vh;
  
    padding-top: var(--nav-height);
  
    transition: transform 300ms;
    transform: translateY(0);
}

body.menu-expanded button {
    position: relative;
    z-index: 100;
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5rem;
    margin-inline: 3rem;

    font-weight: 700;
    text-transform: uppercase;
    list-style: none;
}

.menu ul button{
    left: 17rem;    
}

.menu ul li a{
    color: var(--primary-grey);
    text-decoration: none;

    padding: 1.25rem 0;
    border-bottom: 0.1rem solid rgba(255, 255, 255, 0.1);
    transition: border-color 0.1s ease 0s;
}

.menu ul li a:hover{
    color: var(--hover-color); 
    border-color: var(--hover-color);
    filter: brightness(1.4);   
}

.menu ul button:hover{
    opacity: 0.6;
}

/* ====== Home =======  */

#home{
    padding-block: 0;
}

#home::before{
    content: '';
    width: 100%;
    height: calc(150% + var(--nav-height));
    background: url(./background.webp) no-repeat top center;
    background-size: cover;
    display: block;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 

#home .wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;

    margin-top: calc(var(--nav-height) + 4.4rem);
}

#home .logo{
    width: 18rem;
}

#home h2{
    font-weight: 700;
}

#home p{
    font-weight: 100;
    line-height: 1.4;
}

#home a{
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;

    border-radius: 4rem;
}

#home .log-button{
    background-color: var(--hover-color);
    color: var(--luminous-white);
    padding: 1.5rem 10rem;
}

#home .log-button:hover{
    background-color: hsl(211, 87%, 55%);
}

#home .explore-button{
    background-color: none;
    color: var(--luminous-white);
    
    padding: 1.5rem 4rem;
    border: 0.1rem solid var(--luminous-white);   
}

#home .explore-button:hover{
    background-color: hsla(0, 0%, 100%, 0.068);
    color: var(--hover-color);
    border-color: var(--hover-color);   
}

/* ====== Footer ====== */

#footer{
    padding: 2rem 1.5rem;
    margin-top: 18rem;
}

#footer .logo img{
    width: 12rem;
    margin-bottom: 1rem;
}

#footer ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-type: disc;
    gap: 1rem;

    margin-bottom: 2rem;
}

#footer ul li:nth-child(1){
    list-style: none;
}

#footer ul li{
    text-transform: uppercase;
    text-decoration: none;
    margin-left: 2rem;
}

#footer ul li::marker{
    color: var(--luminous-white);
}

#footer ul li a:hover{
    color: var(--hover-color);
}

#footer ul li a{
    color: var(--luminous-white);
    font-weight: 700;
    font-size: 1.5rem;
}

#footer .copyright p{
    font-size: 1.2rem;
    line-height: 1.5;
}